.fprofile__container {
	min-height: 500px;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	padding: 20px 0;
}
.fprofile__menu {
	width: 100%;
	padding: 0 0 0 10px;
	background-color: #f6f7fb;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
.fprofile__main {
	width: 100%;
}
.fprofile__adv {
	width: 100%;
}
.fprofile-main {
	width: 100%;
}
.fprofile-main__wrap {
	display: grid;
	grid-template-columns: 20% 80%;
	padding: 20px;
}
.fprofile-left {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.fprofile-img {
	width: 100px;
}
.fprofile-name {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}
.fprofile-right {
	padding: 20px 20px;
}
.normal_profile {
	max-width: 450px !important;
}
.fprofile-form-group {
	margin-bottom: 20px;
}
.fprofile-form-label {
	color: #7e95cc;
	display: block;
	margin-bottom: 10px;
	font-weight: 500;
}
.fprofile-form-input {
	font-size: 15px;
	color: #7e95cc;
	display: block;
	width: 100%;
	padding: 10px 12px;
	border-radius: 5px;
	background-color: #f5f6fd;
	border: 0;
	outline: none;
	resize: none;
}

.fprofile-re > .ant-select-selector {
	align-items: center;
	min-height: 48px !important;
	border-radius: 5px !important;
	color: #7e95cc;
	background-color: #f5f6fd;
	border: 0;
	outline: none !important;
	resize: none !important;
}

.radio-button {
	margin: 0 auto;
	width: 33.33333%;
	text-align: center;
}
.fprofile-button {
	outline: none;
	border: none;
	color: white;
	padding: 10px;
	margin-top: 20px;
	width: 50%;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-weight: 500;
	white-space: nowrap;
	letter-spacing: 1px;
	background-color: #7b78f8;
	box-shadow: 0 10px 20px 0 rgba(123, 120, 248, 0.5);
}

@media screen and (max-width: 768px) {
	.fprofile__container {
		grid-template-columns: 1fr;
	}
	.fprofile-menu {
		border-bottom: 1px solid white;
		width: 100%;
	}
	.fprofile-item {
		max-width: 360px;
	}
	.fprofile-item:hover {
		color: #4d49ba;
	}
	.fprofile-main {
		grid-template-columns: 1fr;
	}
}
