/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== BASE ==========*/
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

/*========== CLASS CSS ==========*/
.section {
	padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
	text-align: center;
}

.section-title {
	font-size: 1.5rem;
	color: #393939;
	margin-bottom: 1.5rem;
}

.section-subtitle {
	display: block;
	color: #069c54;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

/*========== LAYOUT ==========*/
.bd-container {
	max-width: 960px;
	width: 100%;
	margin-left: 1rem;
	margin-right: 1rem;
}

.bd-grid {
	display: grid;
	gap: 1.5rem;
}

/* Active menu */
.active-link {
	color: #069c54;
}

/*========== HOME ==========*/
.home__container {
	height: calc(100vh - 3rem);
	align-content: center;
}

.home__title {
	font-size: 2.25rem;
	color: #069c54;
	margin-bottom: 0.5rem;
}

.home__subtitle {
	font-size: 1.5rem;
	color: #393939;
	margin-bottom: 2rem;
}

.home__img {
	width: 300px;
	justify-self: center;
}

/*========== BUTTONS ==========*/
.button {
	display: inline-block;
	background-color: #069c54;
	color: #fff;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	transition: 0.3s;
}

.button:hover {
	background-color: #048654;
}

/*========== ABOUT ==========*/
.about__data {
	text-align: center;
}

.home__data {
	text-align: center;
}

.about__description {
	margin-bottom: 1.5rem;
}

.about__img {
	width: 280px;
	border-radius: 0.5rem;
	justify-self: center;
}

/*========== SERVICES ==========*/
.services__container {
	row-gap: 2.5rem;
	grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
	text-align: center;
}

.services__img {
	width: 120px;
	height: 120px;
	fill: #069c54;
	margin-bottom: 1rem;
}

.services__title {
	font-size: 1rem;
	color: #393939;
	margin-bottom: 0.5rem;
}

.services__description {
	padding: 0 1.5rem;
}

/*========== MENU ==========*/
.menu__container {
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
}

.menu__content {
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to right, #ffcd2b, #fb07ee);
	border-radius: 0.5rem;
	box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
	padding: 0.75rem;
}

.menu__name {
	font-weight: 500;
	color: #393939;
}

.menu__name {
	font-size: calc(0.938rem + 5px);
}

.menu__button {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	padding: 0.625rem 0.813rem;
	border-radius: 0.5rem 0 0.5rem 0;
}

/*========== APP ==========*/
.app__data {
	text-align: center;
}

.app__description {
	margin-bottom: 2.5rem;
}

.app__stores {
	margin-bottom: 2rem;
}

.app__store {
	width: 120px;
	margin: 0 0.5rem;
}

.app__img {
	width: 230px;
	justify-self: center;
}

/*========== CONTACT ==========*/
.contact__container {
	text-align: center;
}

.contact__description {
	margin-bottom: 1.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px) {
	.home__container,
	.about__container,
	.app__container {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}

	.home__data,
	.about__data,
	.about__initial,
	.app__data,
	.app__initial,
	.contact__container,
	.contact__initial {
		text-align: initial;
	}

	.about__img,
	.app__img {
		width: 380px;
		order: -1;
	}

	.contact__container {
		grid-template-columns: 1.75fr 1fr;
		align-items: center;
	}
	.contact__button {
		justify-self: center;
	}
}

@media screen and (max-width: 768px) {
	.home__container {
		margin-top: 5rem;
	}
}

@media screen and (min-width: 768px) {
	body {
		margin: 0;
	}

	.section {
		padding-top: 8rem;
	}

	.home__container {
		height: 100vh;
		justify-items: center;
	}

	.services__container,
	.menu__container {
		margin-top: 3rem;
	}

	.menu__container {
		grid-template-columns: repeat(3, 210px);
		column-gap: 4rem;
	}
	.menu__content {
		padding: 1.5rem;
	}
	.menu__img {
		width: 130px;
	}

	.app__store {
		margin: 0 0.5rem 0 0;
	}
}

@media screen and (min-width: 960px) {
	.bd-container {
		margin-left: auto;
		margin-right: auto;
	}

	.home__img {
		min-width: 500px;
	}

	.about__container,
	.app__container {
		column-gap: 7rem;
	}
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
	.home__container {
		height: 640px;
	}
}
